<!DOCTYPE html>
<html>
<head>
	<title>hi</title>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="node_modules/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/node_modules/bootstrap-icons/font/bootstrap-icons.css">
	<link rel="stylesheet" type="text/css" href="Styles/homepg.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
	<nav>
	<button onclick="window.location.href='searchbygenre';">Search book by genre</button>
	<button onclick="window.location.href='searchbyauthor';" >Search book by author</button>
	<button onclick="window.location.href='searchbyname';">Search book by name</button>
	<a href="#"><i class="material-icons" style="font-size:56px" alt="Shopping cart">shopping_cart</i></a>
    </nav>
	<div>
	</div>
</body>
</html>