<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
<form action="/signin" method="post">
	Username:<input type="text" name="uname"><br>
	Password:<input type="password" name="password"><br>
	Mail-Id:<input type="email" name="mail">
	<input type="submit" name="submit">
</form>
</body>
</html>